Seminar1/CREATE DATABASE.sql
Seminar1/Seminar1.log
Seminar1/Seminar1.aux
tstex_modules/_api.ts
Seminar1/After docker.sh
Seminar1/DBML.sh
Seminar1/UpdateFiles.sh
Seminar2/After docker.sh
Seminar2/DBML.sh
Seminar2/UpdateFiles.sh
Seminar2/Logical and Physical Model Seminar 1.asta.lock
Seminar2/CREATE DATABASE.sql

